body {
  margin: 0;
  font-family: 'Hiragino Kaku Gothic ProN', sans-serif;
  background-color: #f69c5a;
  color: #000;
}

section.hero {
  text-align: center;
  padding: 50px 20px;
}

.logo-circle {
  width: 200px;
  height: 200px;
  background-color: #e44a00;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-circle img {
  max-width: 130px;
  height: auto;
}

.main-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 14px;
  margin-bottom: 30px;
}

.nav-list {
  list-style: none;
  padding: 0;
  font-size: 18px;
  line-height: 2.2;
  text-align: left;
  max-width: 300px;
  margin: 40px 90px;
}

/* section.content {
  padding: 40px 20px;
} */

.yotti-photo img {
  max-width: 260px;
  height: auto;
}

.section {
  margin-bottom: 60px;
  padding-left: 30px;
}

.section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.section p,
.section ul {
  font-size: 16px;
  line-height: 1.8;
}

.section ul {
  padding-left: 20px;
}